@using Microsoft.AspNetCore.Builder
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Returend list from the library service: </h2>
        <ul>
            <li> @ViewData["borrow"] </li>
        </ul>
    </div>
</div>
